/* DOCUMENT INFORMATION
	- Document: XPJ affiliate Theme
	- Version:  17/05/04 1712
	- Client:   XPJ 
*/

/*-------------------
        All
-------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box; 
  -moz-box-sizing: content-box;
  box-sizing: content-box; 
}
:focus {
  outline: none;
}
body {
  min-width: 1054px;
  background-color: #362418;
  font-family: "微軟正黑體";
}
hr {
  border-top: 1px solid #cebc85;
  border-bottom: 1px solid #6e533c;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
}
a {
  cursor: pointer;
  color: #fff;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #ffc726;
}
img {
  border: 0;
  max-width: 100%;
}
.center {
  margin: 0 auto;
  width: 1024px;
}
.clear {
  clear: both;
}
.text_center {
  text-align: center;
}
.before-login,
.member-only {
  display: none;
}
#form-manual-deposit {
  position: relative;
}
img.m_qrcode {
  width: 200px;
  position: absolute;
  right: 35px;
  top: 80px;
  display: none;
}



/*-------------------
        header
-------------------*/
header {
  width: 100%;
  height: 156px;
  min-width: 1024px;
  background: url("../images/header.png") center 0 repeat-x;
}
header #logo-link {
  display: block;
  position: absolute;
  width: 135px;
  height: 125px;
  left: 34px;
  top: 5px;
  cursor: pointer;
  z-index: 100;
}
header #header-top {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
header #logo-img {
  position: absolute;
  left: 180px;
  top: 13px;
}
header .top-bar-bg {
  width: 1024px;
  margin: 0 auto;
}
header #top-list {
  height: 63px;
  position: relative;
  color: #eeddc3;
}
header #top-list a {
  display: block;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  color: #eeddc3;
  float: left;
}
header #top-list a:hover,
header #top-list a:active,
header #top-list a:focus {
  color: #fff;
}
header #top-list .nowrap-list {
  position: relative;
  float: right;
  font-size: 13px;
  text-shadow: 0px 0px 1px #000;
  font-weight: 300;
  padding: 20px 0 0 0;
}
header #top-list .nowrap-list li {
  float: left;
  margin: 0 0 0 8px;
  line-height: 28px;
  position: relative;
}
header #top-list .nowrap-list li a {
  z-index: 2;
  position: relative;
}
header #top-list .nowrap-list li a #top_license {
  display: none;
  position: absolute;
  width: 320px;
  height: 200px;
  left: -20px;
}
header #top-list .nowrap-list li a #top_license .top_license_img {
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 23px;
}
header #top-list .nowrap-list li a #top_license .top_license_img#top_license_img1 {
  left: 30px;
  width: 104px;
}
header #top-list .nowrap-list li a #top_license .top_license_img#top_license_img2 {
  right: 22px;
  width: 120px;
}
header #top-list .nowrap-list li a #top_license #top_license_bg {
  background: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
}
header #top-list .nowrap-list li a:hover #top_license {
  display: block;
}
header #top-list .nowrap-list #lang {
  height: 100%;
  position: relative;
  float: left;
}
header #top-list .nowrap-list #lang a {
  height: 20px;
  margin: 3px 0;
  width: 26px;
}
header #top-list .nowrap-list #lang a:hover {
  border-bottom: 1px solid #fff;
}
header #top-list .nowrap-list #lang a:first-child {
  margin-left: 4px;
}
header #top-list .nowrap-list #lang #cn {
  background: url("../images/chs.png") center center no-repeat;
}
header #top-list .nowrap-list #lang #tw {
  background: url("../images/cht.png") center center no-repeat;
}
header #top-list .nowrap-list #lang #en {
  background: url("../images/eng.png") center center no-repeat;
}
header #top-main {
  height: 75px;
  width: 100%;
  background: url("../images/header_bg.jpg") repeat-x;
}
header #top-main #top-logo {
  display: block;
  height: 75px;
  width: 190px;
  background: url("../images/logo.png") center center no-repeat;
}
header #top-nav {
  width: 800px;
  position: relative;
  float: right;
  margin-top: 43px;
}
header #top-nav nav {
  position: relative;
}
header #top-nav li {
  float: left;
  text-align: center;
  font-weight: 700;
  position: relative;
}
header #top-nav li #hots {
  background: url("../images/hots.gif") center center no-repeat;
  width: 16px;
  height: 20px;
  position: absolute;
  top: -12px;
  right: 2px;
}
header #top-nav li a {
  float: left;
  height: 40px;
  width: 89px;
  color: #000;
  font-weight: 700;
  font-family: "Adobe Gothic Std B";
  padding: 5px 0;
}
header #top-nav li a:hover,
header #top-nav li a:focus,
header #top-nav li a:active {
  background: #2a180e;
  border-radius: 10px;
  color: #fffac0;
}
header #top-nav li a p {
  font-size: 12px;
  font-weight: normal;
  font-family: "Chaparral Pro";
}
header #top-nav li .subMenu {
  position: absolute;
  top: 50px;
  left: -5px;
  background: #f8e497;
  min-width: 120px;
  z-index: 60;
  box-shadow: 0px 1px 2px #111;
  display: none;
}
header #top-nav li .subMenu div a {
  font-family: $lanstyle;
  color: #ffea9e;
  font-size: 15px;
  padding: 8px 18px 8px 10px;
  display: block;
  background: #1b1b1b;
  min-width: 120px;
  border-bottom: 1px solid #ceb970;
  border-top: 1px solid #101010;
  font-weight: 700;
  text-align: left;
  height: auto;
  width: auto;
}
header #top-nav li .subMenu div a.hvr-underline-from-left:before {
  background: #e94b4b;
  height: 2px;
}
header #top-nav li .subMenu div a.promotionBtn {
  color: #e94b4b;
}
header #top-nav li .subMenu .hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
header #top-nav li .subMenu .hvr-underline-from-left:hover:before,
header #top-nav li .subMenu .hvr-underline-from-left:focus:before.header #top-nav li .subMenu .hvr-underline-from-left:active:before {
  right: 0;
}
header #top-nav li .subMenu .hvr-underline-from-left .hot {
  background: url("../images/hots.gif") center center no-repeat;
  display: block;
  width: 19px;
  height: 24px;
  position: absolute;
  right: 3px;
  top: 5px;
  left: auto;
}
header #top-nav li .subMenu .hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
header #top-nav .separator {
  margin: 4px 0 0 0;
  padding: 0;
}
header .hot {
  position: absolute;
  display: block;
  top: -7px;
  right: -12px;
}
header .hot img {
  display: block;
}




/*-------------------
        footer
-------------------*/
#copyright {
  text-align: center;
  padding: 30px 0;
  background: url("../images/beltbg.png") center center no-repeat;
  width: 1000px;
  height: 102px;
  font-weight: 700;
}
#copyright #copyright-image {
  margin: 12px 0 0 12px;
}
#copyright .links {
  color: #32160b;
  margin: 24px 10px 0 0;
}
#copyright .links li {
  display: inline-block;
  margin: 0 4px;
}
#copyright .links li a {
  line-height: 10px;
  font-size: 12px;
  color: #32160b;
}
#copyright .links li a:hover,
#copyright .links li a:active,
#copyright .links li a:focus {
  color: #fffac0;
}
#copyright span {
  color: #32160b;
  margin: 3px 18px 0 0;
  font-size: 12px;
}
footer {
  width: 100%;
  padding: 0;
  color: #ab7748;
  text-align: center;
  font-size: 12px;
  margin: 0 15px;
}
footer #footer-top #footer-partner {
  height: 80px;
}
footer #footer-bottom {
  position: relative;
}
footer #footer-bottom .footer-inner {
  position: relative;
}
footer #footer-bottom .footer-inner #line_01 {
  left: 427px;
}
footer #footer-bottom .footer-inner #line_02 {
  left: 768px;
}
footer #footer-bottom .separation {
  width: 1px;
  height: 336px;
  float: left;
  background: #614132;
  margin-top: 8px;
}
footer #footer-bottom .info {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
footer #footer-bottom .info div.list {
  width: 300px;
  min-height: 450px;
  float: left;
  margin: 0 5px 0 28px;
}
footer #footer-bottom .info div.list h2 {
  text-align: left;
  padding: 5px 0 10px 0;
  margin: 0 0 22px 0;
}
footer #footer-bottom .info div.list .list-inner {
  padding: 0px 40px 0 0;
  min-height: 300px;
}
footer #footer-bottom .info div.list .list-inner dl {
  position: relative;
  display: block;
  height: 60px;
  margin: 0 0 30px 0;
  width: 100%;
}
footer #footer-bottom .info div.list .list-inner .progress {
  background: #ab7748;
  z-index: 2;
  height: 11px;
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
  position: absolute;
  margin: 0;
}
footer #footer-bottom .info div.list .list-inner .opacity {
  background: #241913;
  z-index: 1;
  height: 11px;
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  margin: 0;
}
footer #footer-bottom .info div.help {
  width: 325px;
  margin-left: 17px;
}
footer #footer-bottom .info div.help .list-inner {
  padding-right: 0px;
}
footer #footer-bottom .info div.help .list-inner h2 {
  margin: 0 0 5px -10px;
}
footer #footer-bottom .info div.help .list-inner dl {
  height: auto;
  margin: 0 0 10px 0;
}
footer #footer-bottom .info div.help .list-inner #dd-link {
  width: 238px;
  margin-top: 0;
}
footer #footer-bottom .info div.help .list-inner #dd-link a {
  color: #ab7748;
  border-bottom: 1px #ab7748 solid;
  margin-right: 25px;
  line-height: 22px;
  display: inline-block;
  width: auto;
}
footer #footer-bottom .info div.help .list-inner #dd-link a:hover,
footer #footer-bottom .info div.help .list-inner #dd-link a:active,
footer #footer-bottom .info div.help .list-inner #dd-link a:focus {
  color: #fffac0;
}
footer #footer-bottom .info div.service {
  margin-left: 0;
}
footer #footer-bottom .info .service dd {
  margin: 0 3px;
}
footer #footer-bottom .info .service dt {
  float: right;
  font-size: 36px;
  font-weight: 700;
  line-height: 32px;
  text-align: right;
}
footer #footer-bottom .info .service .unit {
  float: right;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}
footer #footer-bottom .info .service .title {
  float: left;
  font-size: 19px;
  font-weight: 700;
}
footer #footer-bottom .info .service .time {
  font-size: 13px;
  font-weight: 400;
  float: left;
}
footer #footer-bottom .info .service .mon {
  height: auto;
}
footer #footer-bottom .info .service .mon .bank_service {
  margin: 40px 0 0 0;
  padding-top: 5px;
}
footer #footer-bottom .info dl,
footer #footer-bottom .info dt {
  margin: 0px;
}
footer #footer-bottom .info .product dt,
footer #footer-bottom .info .help dt {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  padding: 3px;
}
footer #footer-bottom .info .product dd,
footer #footer-bottom .info .help dd {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  margin: 3px;
  font-weight: 700;
}


/*-------------------
        SideBar
-------------------*/
#float {
  position: fixed;
  top: 0px;
  z-index: 12;
  width: 100%;
}
#float .float-list {
  position: absolute;
}
#float .float-img-left {
  width: 126px;
  -webkit-transition: left 0.35s ease-out;
  transition: left 0.35s ease-out;
  top:185px;
  left: 0;
}
#float .float-img-right {
  width: 126px;
  -webkit-transition: right 0.35s ease-out;
  transition: right 0.35s ease-out;
  top: 185px;
  right: 0;
}
#float .btn-float-close {
  position: relative;
  width: 126px;
  height: 19px;
  margin: 0 auto;
}



/*-------------------
        Banner
-------------------*/
#banner {
  position: relative;
  height: 488px;
}
#banner.index {
  height: 488px;
  background: url("../images/banner.jpg") center center repeat-x;
}
#banner #banner-inner {
  width: 1024px;
  margin: 0 auto;
}



/*-------------------
        marquee
-------------------*/
#content-nav {
  padding: 20px 0;
}
#content-nav .link li {
  float: left;
  margin: 0 0 0 8px;
}
#content-nav .link li a {
  height: 90px;
  width: 175px;
  float: left;
}
#news.index {
  width: 1003px;
  height: 47px;
  background: url("../images/cn/newsbg.png") center left no-repeat;
  margin: 0 auto;
}
#news.index .marquee {
  margin: 0 0 0 115px;
  font-size: 16px;
  width: 870px;
  color: #2a180d;
  border: none;
  height: 40px;
}

#news.index marquee:hover {
  color: #000;
}
#news.page {
  border: 1px solid #09e760;
  overflow: hidden;
  border-radius: 10px;
}
#news.page .news_title {
  width: 20%;
  font-size: 18px;
  color: #09e760;
  letter-spacing: 1px;
}
#news.page .news_title span {
  text-align: center;
  display: block;
  border-right: 1px solid #09e760;
  padding: 5px;
  margin: 37px 0 33px 0;
}
#news.page .news_content {
  width: 80%;
}
#news.page marquee {
  height: 20px;
  padding: 5px;
  margin: 37px 10px 33px 10px;
  color: #d0e4b3;
  font-size: 12px;
  font-weight: 700;
}
/*-------------------
        HomePage
-------------------*/

#main-content {
  background: url("../images/pagebody.jpg") top center repeat-x;
  background-color: #33221a;
  position: relative;
}
/*-------------------
        aboutus/partners/faq/novice
-------------------*/

.container {
  width: 100%;
  padding: 20px 0;
}
.container .content_area .float {
  float: left;
  display: inline-block;
}
/* 
   側邊選單
*/
.content_a {
  width: 20%;
  min-width: 200px;
}
.content_a .area .menu_icon {
  font-size: 32px;
  padding: 64px;
  background: url("../images/logo.png") center center no-repeat;
}
.content_a .area .menu_area {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1px;
  border: 1px solid #6e4b37;
}
.content_a .area .functional_menu {
  float: none !important;
  margin: 0 !important;
  min-height: 620px;
  padding: 30px 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #533928;
  background: -moz-linear-gradient(left, #533928 0%, #ab7654 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #533928), color-stop(100%, #ab7654));
  background: -o-linear-gradient(left, #533928 0%, #ab7654 100%);
  background: -ms-linear-gradient(left, #533928 0%, #ab7654 100%);
  background: linear-gradient(to right, #533928 0%, #ab7654 100%);
}
.content_a .area .functional_menu li {
  position: relative;
}
.content_a .area .menu a {
  display: block;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 8px 12px 8px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 2px 3px #383838;
}
.content_a .area .menu:active a,
.content_a .area .menu:hover a,
.content_a .area .menu:focus a,
.content_a .area .menu.active a {
  color: #fffac0;
  background-color: $content_a_bg_color;
}
.content_a .area .menu_subArea {
  background-color: #553a29;
  width: 150px;
  padding: 20px;
  top: 0;
  right: -192px;
  position: absolute;
  display: none;
  border: 1px solid #6e4b37;
}
.content_a .area .menu_subArea li a {
  color: #fff;
  text-align: center;
  display: block;
  padding: 8px 0;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}
.content_a .area .menu_subArea li a:active,
.content_a .area .menu_subArea li a:hover,
.content_a .area .menu_subArea li a:focus,
.content_a .area .menu_subArea li a.active {
  color: #fffac0;
}
.content_a .area .menu_subArea:active,
.content_a .area .menu_subArea:hover,
.content_a .area .menu_subArea:focus,
.content_a .area .menu_subArea.active {
  display: block;
}
.functional_menu > ul > li {
  z-index: 10;
}
/*
   右邊內容區
*/
.content_b {
  width: 80%;
  min-width: 780px;
  border-radius: 10px;
  color: #fff;
}
.content_b a {
  cursor: pointer;
  color: #fbf8cf;
}
.content_b a:hover {
  color: #fff;
}
.content_b .area .sub_content h1 {
  font-size: 26px;
  font-weight: 500;
  margin: 40px 0 6px 0;
  color: #fff;
}
.content_b .area_line {
  margin: 3px;
  padding: 1px;
  border-radius: 30px;
  border: 1px solid #6e4b37;
  background: #122100;
  background: -moz-linear-gradient(top, #543928 0%, #aa7553 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #543928), color-stop(100%, #aa7553));
  background: -webkit-linear-gradient(top, #543928 0%, #aa7553 100%);
  background: -o-linear-gradient(top, #543928 0%, #aa7553 100%);
  background: -ms-linear-gradient(top, #543928 0%, #aa7553 100%);
  background: linear-gradient(to bottom, #543928 0%, #aa7553 100%);
}
.content_b .area {
  min-height: 780px;
  padding: 50px;
  border-radius: 30px;
  background-image: url("../images/content_b_bg.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.content_b .area .sub_menu > ul > li {
  float: left;
  margin: 0 8px 10px 8px;
}
.content_b .area .sub_menu > ul > li > a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 2px 3px 2px;
  border-bottom: 3px solid #fff;
  color: #fff;
}
.content_b .area .sub_menu > ul > li > a:hover {
  border-color: #fffac0;
  color: #fffac0;
}
.content_b .area .sub_menu > ul > li > a.active {
  border-color: #fffac0;
  color: #fffac0;
}
.content_b .area .sub_content {
  padding: 20px 0;
}
.content_b .area .sub_content h1 {
  font-size: 26px;
  font-weight: 500;
  margin: 40px 0 6px 0;
  color: #fff;
}
.content_b .area .sub_content h2 {
  font-size: 26px;
  font-weight: 500;
  margin: 40px 0 6px 0;
  color: #efc18a;
}
.content_b .area .sub_content h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 6px 0;
  color: #efc868;
}
.content_b .area .sub_content span.tips_01 {
  color: #fc0;
}
.content_b .area .sub_content span.tips_02 {
  color: #ffab94;
}
.content_b .area .sub_content p {
  margin: 10px 0 18px 0;
}
.content_b .area .sub_content > ol li {
  margin: 5px 0 8px 0;
}
.content_b .area .sub_content > ol > ul li {
  margin-left: 28px;
}
.content_b .area .sub_content em {
  color: #fd2e32;
}
.content_b .area .sub_content .captchaInput {
  width: 100px !important;
  min-width: inherit !important;
  vertical-align: middle;
}
.content_b .area .sub_content .captchaImg {
  vertical-align: middle;
  cursor: pointer;
  height: 26px;
  width: 65px;
}
.content_b .area .sub_content .pointText {
  color: #ffc726;
}
.content_b .area .sub_content .remark,
.mc-partner-promotion-link-remark {
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  color: #ffc726;
  border: 1px ridge #ffc726;
}
.content_b .area .sub_content .col-label {
  text-align: right;
  width: 85px;
}
.content_b .area .sub_content .box {
  padding: 15px;
  margin-bottom: 20px;
  background: #365700;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.65)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
}
.content_b .area .sub_content .button,
.member_center .member_content_list .mc-btn-refresh-credit-summary,
.member_center .member_content_list .mc-btn-confirm,
.popup-login .button,
.btn-loading-retry,
.mc-online-deposit-promotion-container a.mc-btn-go-online-deposit {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  padding: 10px 30px;
  letter-spacing: 2px;
  border-radius: 6px;
  color: #fff;
  background-color: #a97453;
  border: 1px solid #7a533b;
}
.content_b .area .sub_content .button:hover,
.member_center .member_content_list .mc-btn-refresh-credit-summary:hover,
.member_center .member_content_list .mc-btn-confirm:hover,
.popup-login .button:hover,
.btn-loading-retry:hover,
.mc-online-deposit-promotion-container a.mc-btn-go-online-deposit:hover,
.content_b .area .sub_content .button:focus. .content_b .area .sub_content .buttonactive,
.member_center .member_content_list .mc-btn-refresh-credit-summary:focus. .member_center .member_content_list .mc-btn-refresh-credit-summaryactive,
.member_center .member_content_list .mc-btn-confirm:focus. .member_center .member_content_list .mc-btn-confirmactive,
.popup-login .button:focus. .popup-login .buttonactive,
.btn-loading-retry:focus. .btn-loading-retryactive,
.mc-online-deposit-promotion-container a.mc-btn-go-online-deposit:focus. .mc-online-deposit-promotion-container a.mc-btn-go-online-depositactive {
  background-color: #a6824b;
  border: none;
}
.content_b .area .sub_content .button1,
.member_center .member_content_list .mc-btn-deposit,
.member_center .member_content_list .mc-btn-withdraw,
.member_center .member_content_list .mc-btn-reset {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  padding: 10px 30px;
  letter-spacing: 2px;
  border-radius: 6px;
  color: #fff;
  background-color: #543a29;
  border: 1px solid #3f2b1e;
}
.content_b .area .sub_content .button1:hover,
.member_center .member_content_list .mc-btn-deposit:hover,
.member_center .member_content_list .mc-btn-withdraw:hover,
.member_center .member_content_list .mc-btn-reset:hover {
  background-color: #a47151;
}
.content_b .area .sub_content .button2,
.member_center .member_content_list .select-all,
.member_center .member_content_list .cancel-all {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  padding: 5px 15px;
  letter-spacing: 2px;
  border-radius: 6px;
  color: #333;
  background-color: #fff;
  border: 1px solid #adadad;
}
.content_b .area .sub_content .button2:hover,
.member_center .member_content_list .select-all:hover,
.member_center .member_content_list .cancel-all:hover {
  background-color: #e6e6e6;
}
.content_b .area .sub_content .button2.select-all,
.member_center .member_content_list .select-all.select-all,
.member_center .member_content_list .cancel-all.select-all {
  margin: 5px;
}
.content_b .area .sub_content .button2.cancel-all,
.member_center .member_content_list .select-all.cancel-all,
.member_center .member_content_list .cancel-all.cancel-all {
  margin: 5px;
}
.content_b .area .sub_content .button3,
.member_center .member_content_list .mc-btn-bank-nav,
.member_center .member_content_list .mc-btn-bank-nav-active {
  border: none;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  padding: 10px 30px;
  letter-spacing: 2px;
  border-radius: 6px;
  color: #333;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
}
.content_b .area .sub_content .button3:hover,
.member_center .member_content_list .mc-btn-bank-nav:hover,
.member_center .member_content_list .mc-btn-bank-nav-active:hover {
  background-color: #ccc;
}
.content_b .area .sub_content .button3.mc-btn-bank-nav-active,
.member_center .member_content_list .mc-btn-bank-nav.mc-btn-bank-nav-active,
.member_center .member_content_list .mc-btn-bank-nav-active.mc-btn-bank-nav-active,
.member_center .member_content_list .mc-btn-bank-nav-active {
  background-color: #ec971f;
  border: 1px solid #ffc726;
}
.content_b .area .sub_content .button4,
#resultTable .delete_button,
.member_center .member_content_list .mc-btn-copy {
  border: none;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-family: initial;
  padding: 2px 10px;
  letter-spacing: 2px;
  border-radius: 6px;
  color: #bbb;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
}
.content_b .area .sub_content .button4:hover,
#resultTable .delete_button:hover,
.member_center .member_content_list .mc-btn-copy:hover {
  background-color: #ccc;
  color: #666;
}
.content_b .area .sub_content #member_list .member_center_title {
  font-size: 26px;
  font-weight: 500;
  margin: 40px 0 6px 0;
  color: #fff;
}
.content_b .area .sub_content #member_list .member_center {
  margin-top: 30px;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg {
  padding-bottom: 20px;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg .mc-page-top {
  padding: 12px;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  margin-bottom: 20px;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg form {
  font-size: 13px;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg form td,
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg form th {
  padding: 5px;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg form .col-label {
  text-align: right;
  width: 85px;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg form input[type="text"],
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg form select {
  width: 210px;
  margin: 0;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg .input {
  float: left;
  width: 28%;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg .input input,
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg .input select {
  width: 90%;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg .submit_button {
  margin-top: 15px;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg .pagejump {
  margin: 10px 0;
  text-align: center;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .MC_list_bg .pageNavEle {
  cursor: pointer;
  padding: 0 10px;
}
.content_b .area .sub_content #member_list .member_center .member_content_list th,
.content_b .area .sub_content #member_list .member_center .member_content_list .table-mc-caption {
  padding: 12px 0 6px 0;
  font-size: 20px;
  font-weight: 500;
  color: #debf64;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .mc-accept-online-deposit-promotion-box {
  background-color: #231811;
  padding: 5px 5px 0 5px;
  color: #fff;
  float: right;
}
.content_b .area .sub_content #member_list .member_center .member_content_list .mc-table-title,
#resultTable .firsttr td {
  background-color: #553928;
  color: #fff;
}
.content_b .area .sub_content #member_list .member_center .member_content_list table {
  width: 100%;
}
.content_b .area .sub_content #member_list .member_center .member_content_list table tr,
.content_b .area .sub_content #member_list .member_center .member_content_list table th,
.content_b .area .sub_content #member_list .member_center .member_content_list table td {
  padding: 12px;
}
.content_b .area .sub_content #member_list .member_center .member_content_list table thead {
  text-align: left;
}
.content_b .area .sub_content #member_list .member_center .member_content_list table thead tr th a {
  font-size: 12px;
}
.content_b .area .sub_content #member_list .member_center .member_content_list table thead tr th a:hover {
  text-decoration: none;
  color: #ffc726;
}
.content_b .area .sub_content #member_list .member_center .member_content_list table tbody {
  border: 1px solid #fff;
}
.content_b .area .sub_content #member_list .member_center .member_content_list table tbody tr td .loading-box {
  text-align: center;
}
.content_b .area .sub_content #member_list .member_center .member_content_list table tbody tr .action {
  text-align: right;
  border-top: 1px solid #fff;
}
.content_b .area .sub_content #member_list .member_center .member_content_list table tbody tr .col-deposit-option {
  padding: 0;
  width: 80px;
  background-color: #231811;
}
.content_b .area .sub_content #member_list .member_center .member_content_list table tbody tr .col-deposit-option a {
  display: block;
  padding: 20px;
  color: #fff;
}
.content_b .area .sub_content > ul > li {
  display: none;
  font-size: 15px;
  letter-spacing: 1px;
}
.content_b .area .sub_content > ul > li.active {
  display: block;
}
.content_b .area .sub_content > ul > li table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 6px 0 15px 0;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
}
.content_b .area .sub_content > ul > li table.partners3 th {
  padding: 3px;
  background: #33221a;
  border: 2px solid #714d36;
}
.content_b .area .sub_content > ul > li table.partners3 td {
  padding: 3px;
  background: #866048;
  border: 2px solid #714d36;
}
.content_b .area .sub_content > ul > li .vipTable {
  border-color: #ffbc3a;
  color: #fff;
}
.content_b .area .sub_content > ul > li .vipTable th {
  text-align: center;
  padding: 8px 0;
  background-color: #553928;
  color: #fff;
}
.content_b .area .sub_content > ul > li .vipTable td {
  text-align: center;
  padding: 8px 0;
  background-color: #8a5f43;
  color: #fff;
}
.content_b .area .sub_content > ul > li .partner_login {
  width: 662px;
  height: 358px;
  margin: 0 auto;
  position: relative;
  background-image: url("../images/partner_login_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.content_b .area .sub_content > ul > li .partner_login .patnerLogin_form {
  width: 384px;
  height: 200px;
  position: absolute;
  left: 20px;
  top: 150px;
}
.content_b .area .sub_content > ul > li .register_partner td {
  padding: 8px 3px;
}
.content_b .area .sub_content > ul > li .register_partner #loginName {
  width: 117px;
}
.content_b .area .sub_content > ul > li .registerP_info {
  text-align: center;
  background: #ffc726;
  color: #620800;
}
.content_b .area .sub_content > ul > li .notice {
  margin-top: 15px;
  padding: 1px 0;
  background: #a97453;
}
.content_b .area .sub_content > ul > li .notice .notice_list {
  background-color: #553928;
}
.content_b .area .sub_content > ul > li .notice .notice_list div {
  list-style: outside;
  margin: 0 20px;
  padding: 20px 0;
  cursor: pointer;
  word-wrap: break-word;
  border-bottom: 1px dashed #fff;
}
.content_b .area .sub_content > ul > li .notice .notice_list div:hover {
  color: #fffac0;
}
.content_b .area .sub_content > ul > li .notice .notice_list div:last-child {
  border-bottom: none;
}
.content_b .area .sub_content > ul > li .form-feedback .feedback-remark {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #ffc726;
  border: 1px ridge #ffc726;
}
.content_b .area .sub_content > ul > li .form-feedback .feedback-remark li {
  list-style: outside;
  list-style-type: decimal;
  padding: 8px 0;
  margin-left: 30px;
}
.content_b .area .sub_content > ul > li .form-feedback .form-feedback-table {
  width: 100%;
}
.content_b .area .sub_content > ul > li .form-feedback .form-feedback-table tr td {
  padding: 8px 0;
}
.content_b .area .sub_content > ul > li .form-feedback .form-feedback-table tr td:first-child {
  min-width: 120px;
  text-align: right;
}
.content_b .area .sub_content > ul > li .form-feedback .form-feedback-table tr td.2nd_td {
  min-width: 320px;
}
.content_b .area .sub_content > ul > li .form-feedback .form-feedback-table tr td:last-child {
  min-width: 200px;
}
.content_b .area .sub_content > ul > li .form-feedback .form-feedback-table input[type="text"] {
  max-width: 95%;
  min-width: 300px;
}
.content_b .area textarea {
  resize: vertical;
  min-height: 120px;
  max-width: 95%;
  min-width: 300px;
}
.content_b .area #mc-register-box .page_title {
  padding: 20px 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  -moz-text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  color: #ddddde;
}
.content_b .area #mc-register-box .page_title span {
  display: inline-block;
}
.content_b .area #mc-register-box .page_title > span > span {
  font-size: 26px;
  line-height: 30px;
}
.content_b .area #mc-register-box .page_title > span > span.clickHere {
  padding-top: 3px;
  font-size: 18px;
  cursor: pointer;
  color: #f8de84;
}
.content_b .area #mc-register-box .page_title_right {
  float: right;
}
.content_b .area input {
  letter-spacing: 1px;
  padding: 5px;
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
  border: 1px solid #cccccc;
  width: 206px;
}
.content_b .area select {
  letter-spacing: 1px;
  padding: 5px;
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
  border: 1px solid #cccccc;
  width: 206px;
}

.content_b .area input[type="submit"]{
  width: auto;
}
.content_b .area textarea {
  letter-spacing: 1px;
  padding: 5px;
}

#myModal .modal-dialog{
  border-radius: 4px;
  margin-top: 100px;
  
}
#myModal .modal-header{
    background: #365700;
    color: #FFF;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
#myModal .modal-header>h2{
    font-size: 26px;
    font-weight: 500;
    margin: 40px auto 6px;
    color: #efc18a;
  text-align: center;
}
#myModal .modal-body{
  color: #000;
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
}

#myModal .modal-body h3{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 6px 0;
    color: #efc868;
}

#myModal .modal-footer{
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
}
#myModal .modal-footer .btn{
  color: #333;
}

/*-------------------
        login area
-------------------*/
.login-top {
  width: 243px;
  height: 108px;
  padding-top: 38px;
}
.login-top:after{
  clear: both;
}
.login-top a {
  display: block;
  float: left;
}
.login-top .lt-left {
  width: 120px;
  height: 107px;
  background: url("../images/cn/loginbox/btn_joinus.png") center center no-repeat;
}
.login-top .lt-left:hover,
.login-top .lt-left:active,
.login-top .lt-left:focus {
  background: url("../images/cn/loginbox/btn_joinus_a.png") center center no-repeat;
}
.login-top .lt-right {
  width: 123px;
  height: 108px;
  background: url("../images/cn/loginbox/btn_freedemo.png") center center no-repeat;
}
.login-top .lt-right:hover,
.login-top .lt-right:active,
.login-top .lt-right:focus {
  background: url("../images/cn/loginbox/btn_freedemo_a.png") center center no-repeat;
}

#_player_login_area {
  margin: -1px 0 0 0;
  float: left;
  width: 243px;
  height: 319px;
  background: url("../images/cn/loginbox/loginBG1.png") center center no-repeat;
}

#_player_login_area #loginbox-title {
  background: url("../images/cn/loginbox/loginTITLE.png") 0 0 no-repeat;
  width: 110px;
  height: 18px;
  margin: 15px 0px 5px 15px;
}

#_og_id_2{
  margin-left: 10px;
}
input.ui-input.fn-left.J-verify[type='text'],
input.ui-input.fn-left.J-verify[type='password'] {
  background: url("../images/cn/loginbox/textbg.png") 0 4px no-repeat;
  width: 199px;
  height: 40px;
  border: none;
  border-radius: 0;
  font-size: 14px;
  margin: 1px 0 0 2px;
  color: #2a180e;
  padding: 0 10px;
}

.fn-left.ui-btn.ui-btn-brown.J-regist-btn._player_register,
input.fn-left.ui-btn.ui-btn-red.J-submit[type='submit'] {
  width: 221px;
  height: 48px;
  margin: 0 5px 0 1px;
  box-shadow: none;
  border-radius: 0;
  display: block;
  text-indent: -9999px;
}

input.fn-left.ui-btn.ui-btn-red.J-submit[type='submit'] {
  border: 0;
  margin-top: 10px;
  background: url("../images/cn/loginbox/btn_login.png") center center no-repeat;
}


input.fn-left.ui-btn.ui-btn-red.J-submit[type='submit']:hover,
input.fn-left.ui-btn.ui-btn-red.J-submit[type='submit']:active,
input.fn-left.ui-btn.ui-btn-red.J-submit[type='submit']:focus {
  background: url("../images/cn/loginbox/btn_login_a.png") center center no-repeat;
}


.fn-left.ui-btn.ui-btn-brown.J-regist-btn._player_register {
  background: url("../images/cn/loginbox/btn_register.png") center center no-repeat;
  margin-top: 5px;
}


.fn-left.ui-btn.ui-btn-brown.J-regist-btn._player_register:hover,
.fn-left.ui-btn.ui-btn-brown.J-regist-btn._player_register:active,
.fn-left.ui-btn.ui-btn-brown.J-regist-btn._player_register:focus {
  background: url("../images/cn/loginbox/btn_register_a.png") center center no-repeat;
}


.login-member{
  margin: 15px 10px 10px;
}
.login-member ._player_username{
  background: #fff5ae;
  color: #2a180e;
  padding: 5px 10px;
  border-radius: 4px;
  display: block;
  text-align: center;
}
.login-menu{
  margin: 10px;
}
.login-menu a{
  background: #fff5ae;
  color: #2a180e;
  padding: 5px 1%;
  border-radius: 4px;
  margin-top: 5px;
  width: 47%;
  float: left;
  text-align: center;
  border: 1px #a66722 solid;
}

.login-menu a:hover{
  background: #ffdb91;
}

.ui-btn.ui-btn-logout{
  margin: 10px;
  display: inline-block;
  float: right;
  text-align: right;
  background: #a66722;
  border-radius: 4px;
  padding: 5px 10px;
}

/*-------------------
    Media
-------------------*/

@media (max-width: 767px) {
  body {
    min-width: 0px;
  }
  .center{
    width: auto;
  }
}
/*-------------------
        header
-------------------*/
@media (min-width: 768px) {
  #top-nav{
    display: block;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  header {
    min-width: 0;
    background: url("../images/header.png") 30% top;
  }
  header #logo-link {
    left: 20px;
  }
  header #header-top {
    width: auto;
  }
  header #logo-img {
    right: 0px;
    left: inherit;
    }
  header .top-bar-bg{
    width: auto;
    padding-top: 60px;
  }
  header #top-list .nowrap-list{
    width: 150px;
  }
  header #top-list .nowrap-list li a #top_license{
    left: inherit;
    right: -80px;
  }
  #nav-btn{
    position: absolute;
    right: 15px;
    top: 110px;
    width: 20px;
    height: 20px;
    background: #714f39;
    color: #fff;
  }
  header #top-nav{
    width: auto;    
    background: #d0a94d;    
    margin-top: -8px;
    z-index: 99999;
  }
}

/*-------------------
        Banner
-------------------*/
@media (max-width: 767px) {
  #banner #banner-inner{
    width: auto;    
  }
  #banner,
  #banner.index,
  #banner.livecasino,
  #banner.sportsbook,
  #banner.promotion,
  #banner.slots,
  #banner.DownloadNow{
    height: 150px;
    background-size: cover;
  }
}

/*-------------------
        marquee
-------------------*/
@media (max-width: 767px) {
  #content-nav{
    padding: 0 0 20px;
  }
  #news.index{
    width: auto;
    background: #b9873d;
    height: 35px;
  }
  #news.index .marquee{
    margin: 5px 2%;
    width: 96%;
  }
}

/*-------------------
        FOOTER
-------------------*/
@media (max-width: 767px) {
  #copyright{
    background: #6b4f39;
    background: linear-gradient(135deg, #b97231 0%, #976428 40%, #c9a360 65%, #98672e 100%);
    background: -moz-linear-gradient(-45deg, #b97231 0%, #976428 40%, #c9a360 65%, #98672e 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #b97231), color-stop(40%, #98672e), color-stop(65%, #c9a360), color-stop(100%, #976428));
    background: -webkit-linear-gradient(-45deg, #b97231 0%, #976428 40%, #c9a360 65%, #98672e 100%);
    background: -o-linear-gradient(-45deg, #b97231 0%, #976428 40%, #c9a360 65%, #98672e 100%);
    background: -ms-linear-gradient(-45deg, #b97231 0%, #976428 40%, #c9a360 65%, #98672e 100%);
    border: 2px solid #cf9632;
    width: 90%;
    height: auto;
    padding: 0 0 10px;
    margin: 30px auto;
    border-radius: 8px;
  }
  #copyright #copyright-image,
  #copyright .links,
  #copyright span{
    float: none !important;
  }
  #copyright .links{
    margin: 15px 12px 10px;
  }
  #copyright .links li a{
    font-size: 14px;
  }
  footer{
    width: auto;
  }
  footer #footer-bottom .info{
    width: 100%;
  }
  footer #footer-bottom .separation{
    display: none;
  }
  footer #footer-bottom .info div.list{
    margin: 0 auto;
    float: none;
    min-height: 400px;
    width: 90%;
  }
  footer #footer-bottom .info div.list .list-inner{
    padding: 0;
  }
}

/*-------------------
        login area
-------------------*/

@media (min-width: 768px) {
  #_og_id_2>span{  
    background: url("../images/cn/loginbox/loginTITLE.png") 0 0 no-repeat;
    width: 110px;
    height: 18px;
    margin: 15px 0px 5px 3px;
    display: block;
  }
}
@media (max-width: 767px) {
  #_player_login_area{
    height: 140px;
    background: rgba(201, 163, 76, 0.5);
    border: 1px solid #39210c;
    margin: 4px 5px;
    float: none;
    border-radius: 4px;
    width: 52%;
  }
  #_og_id_2{
    margin: 0;
  }
  input.ui-input.fn-left.J-verify[type='text'],
  input.ui-input.fn-left.J-verify[type='password']{
    width: 80%;
    height: 28px;
    margin: 5px auto;
    background: #fff5ae;
    display: block;
  }
  .fn-left.ui-btn.ui-btn-brown.J-regist-btn._player_register,
  input.fn-left.ui-btn.ui-btn-red.J-submit[type='submit']{
    width: 90%;
    height: auto;
    background: #edd075;
    text-indent: 0;
    margin: 5px auto;
    text-align: center;
    color: #541a00;
    border-radius: 5px;
    padding: 4px 0px;
  }
  
  input.fn-left.ui-btn.ui-btn-red.J-submit[type='submit']:hover,
  input.fn-left.ui-btn.ui-btn-red.J-submit[type='submit']:active,
  input.fn-left.ui-btn.ui-btn-red.J-submit[type='submit']:focus,
  .fn-left.ui-btn.ui-btn-brown.J-regist-btn._player_register:hover,
  .fn-left.ui-btn.ui-btn-brown.J-regist-btn._player_register:active,
  .fn-left.ui-btn.ui-btn-brown.J-regist-btn._player_register:focus {
    background: #edd075;
  }
  
  .login-member{
    margin: 7px 7px 0;
  }
  .login-member ._player_username{
    padding: 2px;
  }
  .login-menu{
    margin: 5px 7px;
  }
  .login-menu a{
    padding: 2px 1%;
    width: auto;
  }
  .ui-btn.ui-btn-logout{
    margin: 7px;
    padding: 2px 10px;
  }
}

/*-------------------
        HomePage
-------------------*/
@media (max-width: 767px) {
  #main-content.index .content-inner .index-inner-list{
    float: none !important;
    margin: 0 auto;
  }
}


/*----------------------------------------
        aboutus/partners/faq/novice
----------------------------------------*/
@media (max-width: 767px) {
  .content_a{
    width: 95%;
    float: none !important;
    display: block !important;
    margin: -20px auto 5px;
  }
  .content_a .area .menu_area{
    border-radius: 10px;
  }
  .content_a .area .functional_menu{
    border-radius: 10px;
    padding: 0;
    min-height: 0;
  }
  .content_a .area .functional_menu li{
    display: inline-block;
    width: 32.5%;
  }
  .content_b{
    width: 95%;
    float: none !important;
    display: block !important;
    margin: 0 auto;
    min-width: 0;
  }
  .content_b .area_line{
    border-radius: 20px;
  }
  .content_b .area{
    padding: 15px;
    min-height: 0;
  }
  .table-responsive{
    border: 0;
  }
  #tabber .sequence-next{
    right: 0;
    height: 50px;
  }
  #tabber .sequence-prev{
    left: 0;
    height: 50px;
  }
}
  
.ismobile{
  display: none !important
}