Dockerfile
secret_keys/*
.git
.gitignore
.gitlab-ci.yml
.gitmodules
.git*
.dockerignore
.DS_Store

backup
sites
og_config
baseimage
docker_env
dev_docker

submodules/core-lib/.git*
submodules/core-lib/vendor
submodules/payment-lib/.git*
submodules/payment-lib/vendor
submodules/payment-lib/core-lib
submodules/game-lib/.git*
submodules/game-lib/vendor
submodules/game-lib/core-lib
