span.errors {
    padding: 0;
    margin: 0;
    float: left;
    font-size: 11px;
    color: red;
}

.nopadding {
    padding: 0 !important;
}

/* ========================================== */
/* Account Info <editor-fold>{{{         */
/* ========================================== */
.otp_init {
    display: none;
    margin-top: 10px;
}

.qrcode_hint_area .hint_text{
    padding: 8px 0px;
    color:red;
}
/* }}}</editor-fold> */