
    #addGameType,.go-back,.go-to {
        margin-top: -4px;
    }
    #addGameDesc i {
        color:white;
    }
    #my_table {
        width:100%;
    }
    .material-switch > input[type="checkbox"] {
        display: none;   
    }
    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative; 
        width: 40px;  
    }
    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: 4px;
        position:absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }
    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: 4px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }
    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }
    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
    #details_panel_body .form-group .list-group-item div.label-list {
    	float: left;
	    padding-right: 5px;
	    font-size: 12px;
    }
    #details_panel_body .form-group .list-group-item .material-switch {
    	margin-top: -20px;
    }
    #details_panel_body .info-tooltip-wrapper:hover > .tooltip-info {
    	display: block;
    }
    #details_panel_body .info-tooltip-wrapper .tooltip-info {
    	display: none; 
        position: absolute;
        top: -7px;
        left: 28px;
        background: #353535;
        color: #fff;
        padding: 2px 18px;
        font-size: 13px;
        height: 30px;
        line-height: 24px; }
	 
	 .info-tooltip-wrapper {
	 	position: relative;
    	overflow: hidden;
	 }
	 #details_panel_body .info-tooltip-wrapper .tooltip-info span {
	 	display: inline-block;
    	margin-left: 5px;
	 }
	#details_panel_body .info-tooltip-wrapper .tooltip-info::before {
	 	content: '';
	    width: 0;
	    height: 0;
	    border-top: 5px solid transparent;
	    border-right: 10px solid #353535;
	    border-bottom: 5px solid transparent;
	    position: absolute;
	    left: -10px;
	    top: 13px;
	 }
	 .glyphicon glyphicon-info-sign {
	 	background-color: 
	 }

    @media (min-width: 768px) {
        .modal-xl {
            width: 90%;
            max-width:1200px;
        }
    }

    #gameTypeHistoryTable_wrapper {
        overflow: scroll;
    }