<html>
    <head>
        <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
        <script src="/resources/js/jquery-2.1.4.min.js"></script>
        <script src="/resources/js/bootstrap.min.js"></script>
        <script src="/resources/js/underscore-min.js"></script>

        <script src="/resources/js/ttglobby.js"></script>

        <!-- TEMPLATES -->
        <script type="text/template" id="ttg-lobby">
            <ul class="nav nav-tabs nav-justified" id="category-list">
                <% _.each( list, function(value, i) { %>
                    <li class="category <% if (i == 0) { %>active<% } %>"><a href="#" id="<%= value.id %>"><%= value.game_type_name %></a></li>
                <% }); %>
            </ul>
            <br/>
            <div class="container">
                <div class="row" id="game-list"></div>
            </div>
        </script>

        <script type="text/template" id="game-template">
            <% _.each( l, function(value) { %>
                <div class="game-item col-lg-2 col-md-3 col-sm-4 col-xs-6">

                    <div class="game-details">
                        <div class="game-name"><%= value.game_name %></div>
                        <img class="game-image img-responsive" src="<%- p %><%- value.game_image %>"/>
                    </div>

                    <div class="game-action text-center">
                        <a class="btn btn-xs btn-block btn-primary" href="/iframe_module/goto_ttggame/<%- value.game_id %>/<%- value.game_code %>/<%- value.game_type %>" target='_blank'>进入游戏</a>
                    </div>


                </div>
            <% }); %>
        </script>
        
    </head>
    <body>
        <div id="container"></div>
    </body>
</html>