.icon-img{background:url(/resources/images/cardList.png) no-repeat;display: inline-block;background-position:-1000px -1000px;}
.card{height:115px;width:81px;background-position:-4341px 0;}
.card-back{height:114px;width:81px;background-position:-4341px 0;}
.card-00{height:115px;width:81px;background-position:-4584px 0;}
.card-C10{height:114px;width:81px;background-position:-4989px 0;}
.card-C1{height:114px;width:81px;background-position:-4746px 0;}
.card-C2{height:114px;width:81px;background-position:-4503px 0;}
.card-C3{height:114px;width:80px;background-position:-3620px 0;}
.card-C4{height:114px;width:81px;background-position:-5232px 0;}
.card-C5{height:114px;width:80px;background-position:-3380px 0;}
.card-C6{height:114px;width:81px;background-position:-4665px 0;}
.card-C7{height:114px;width:80px;background-position:-3860px 0;}
.card-C8{height:114px;width:81px;background-position:-4908px 0;}
.card-C9{height:114px;width:80px;background-position:-2580px 0;}
.card-Cj{height:114px;width:80px;background-position:-2340px 0;}
.card-Ck{height:114px;width:80px;background-position:-2500px 0;}
.card-Cq{height:114px;width:81px;background-position:-4827px 0;}
.card-D10{height:115px;width:81px;background-position:-4422px 0;}
.card-D1{height:115px;width:81px;background-position:-5880px 0;}
.card-D2{height:115px;width:81px;background-position:-5313px 0;}
.card-D3{height:115px;width:80px;background-position:-3140px 0;}
.card-D4{height:115px;width:81px;background-position:-5394px 0;}
.card-D5{height:115px;width:80px;background-position:-3220px 0;}
.card-D6{height:115px;width:81px;background-position:-5070px 0;}
.card-D7{height:115px;width:80px;background-position:-2820px 0;}
.card-D8{height:115px;width:81px;background-position:-5151px 0;}
.card-D9{height:115px;width:80px;background-position:-2900px 0;}
.card-Dj{height:115px;width:80px;background-position:-2980px 0;}
.card-Dk{height:115px;width:80px;background-position:-3060px 0;}
.card-Dq{height:115px;width:81px;background-position:-5799px 0;}
.card-H10{height:114px;width:81px;background-position:-5556px 0;}
.card-H1{height:114px;width:81px;background-position:-6042px 0;}
.card-H2{height:114px;width:81px;background-position:-5961px 0;}
.card-H3{height:114px;width:80px;background-position:-2420px 0;}
.card-H4{height:114px;width:81px;background-position:-6285px 0;}
.card-H5{height:114px;width:80px;background-position:-2740px 0;}
.card-H6{height:114px;width:81px;background-position:-5718px 0;}
.card-H7{height:114px;width:80px;background-position:-2660px 0;}
.card-H8{height:114px;width:81px;background-position:-5475px 0;}
.card-H9{height:114px;width:80px;background-position:-3940px 0;}
.card-Hj{height:114px;width:80px;background-position:-4180px 0;}
.card-Hk{height:114px;width:80px;background-position:-4100px 0;}
.card-Hq{height:114px;width:81px;background-position:-5637px 0;}
.card-S10{height:115px;width:81px;background-position:-6528px 0;}
.card-S1{height:115px;width:81px;background-position:-4260px 0;}
.card-S2{height:115px;width:81px;background-position:-6609px 0;}
.card-S3{height:115px;width:80px;background-position:-4020px 0;}
.card-S4{height:115px;width:81px;background-position:-6204px 0;}
.card-S5{height:115px;width:80px;background-position:-3460px 0;}
.card-S6{height:115px;width:81px;background-position:-6123px 0;}
.card-S7{height:115px;width:80px;background-position:-3300px 0;}
.card-S8{height:115px;width:81px;background-position:-6366px 0;}
.card-S9{height:115px;width:80px;background-position:-3780px 0;}
.card-Sj{height:115px;width:80px;background-position:-3700px 0;}
.card-Sk{height:115px;width:80px;background-position:-3540px 0;}
.card-Sq{height:115px;width:81px;background-position:-6447px 0;}