<div id="footer_template">
    <footer>
      <div class="footer-menu">
        <a href="{{ url }}/aboutus.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ url }}/contact.html">联络我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ url }}/affiliate.html">代理加盟</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ url }}/security.html">免责条款</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ url }}/faq.html">规则说明</a>
      </div>
<!--      <img src="{{ url }}/images/footer-line.png">-->
      <p>未满18周岁禁止购买，Copyright © 2010-2017 时时彩保留所有权利</p>
      <div>
      </div>
    </footer>
    <div class="sideber">
      <div class="right-side">
        <div class="side-btn">
          <img src="{{ url }}/images/sidebar/help.png">
          <p>联<br>系<br>我<br>们</p>
        </div>
        <ul class="nav">
          <li>
            <a href="">
              <img class="icon-img" src="{{ url }}/images/sidebar/service.png">
              <p>在线客服</p>
              <span>7天x24小时</span>
            </a>
          </li>
          <li>
            <img class="icon-img" src="{{ url }}/images/sidebar/mail.png">
            <p>E-mail</p>
            <span>a12345@mail.com</span>
          </li>
          <li>
            <img class="icon-img" src="{{ url }}/images/sidebar/mobile.png">
            <p>联系电话</p>
            <span>0000-12345678</span>
          </li>
          <li>
            <img class="icon-img" src="{{ url }}/images/sidebar/qq.png">
            <p>QQ客服</p>
            <span>123456789</span>
          </li>
          <li>
            <img class="icon-img" src="{{ url }}/images/sidebar/wechat.png">
            <p>微信客服</p>
            <span>123456789</span>
            <img class="qr-img" src="{{ url }}/images/sidebar/lbwechat.jpg">
          </li>
        </ul>
      </div>
    </div>
</div>
<script src="/player_center2/lottery/sdk"></script>