@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5exaym');
  src:  url('fonts/icomoon.eot?5exaym#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5exaym') format('truetype'),
    url('fonts/icomoon.woff?5exaym') format('woff'),
    url('fonts/icomoon.svg?5exaym#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-slots:before {
  content: "\e900";
}
.icon-sports:before {
  content: "\e901";
}
.icon-casino:before {
  content: "\e902";
}
.icon-fishing:before {
  content: "\e903";
}
.icon-promotion:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-lottery:before {
  content: "\e906";
}
