<div id="header_template">
  <header class="header-blue-theme">
    <div class="container">
      <div class="row">
        <div class="top-bar-header">
          <div class="col-lg-1 col-md-1 col-xs-12"><p>Annoucement</p></div>
          <div class="col-lg-11 col-md-11 col-xs-12 announcement-wrapper">
            <iframe src="/pub/announcement" style="border: none;" scrolling="no" seamless="seamless"></iframe>
          </div>
        </div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url }}">
                <img src="{{ url }}/includes/assets/images/logotripleonedemo.png">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="navbar-nav navigation-links">
                <li class=""><a href="{{ url }}">Home <span class="sr-only">(current)</span></a></li>

                <li class="li-custom">
                  <a id="more-nav" href="#" style="display: ;">GAMES</a>
                  <ul id="game_providers" class="animated fadeIn">
                    <li id="trigger" class="slots-menu" style=" ">
                      <a href="{{ url }}/slots.html">SLOTS</a>
                      <div class="mega-menu">
                        <ul class="left hide-on-med-and-down">
                          <li class="animated slideInRight PT_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=playtech">
                              <img src="{{ url }}/includes/assets/images/home/thumbnail/dd-slots-pt.png" class="grayscale-self">
                              <p>Playtech</p>
                            </a>
                          </li>
                          <li class="animated slideInRight HB_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=habanero">
                              <img src="{{ url }}/includes/assets/images/home/thumbnail/dd-slots-hb.png">
                              <p>Habanero</p>
                            </a>
                          </li>
                          <li class="animated slideInRight MG_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=microgaming">
                              <img src="{{ url }}/includes/assets/images/home/thumbnail/dd-slots-mg.png" class="grayscale-self">
                              <p>Microgaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight PP_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=pragmatic">
                              <img src="{{ url }}/includes/assets/images/home/thumbnail/dd-slots-pp.png" class="grayscale-self">
                              <p>Pragmatic Play</p>
                            </a>
                          </li>
                          <li class="animated slideInRight ISB_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=isoftbet">
                              <img src="{{ url }}/includes/assets/images/home/thumbnail/dd-slots-isb.png" class="grayscale-self">
                              <p>iSoftBet</p>
                            </a>
                          </li>
                          <li class="animated slideInRight PNG_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=playngo">
                              <img src="{{ url }}/includes/assets/images/home/thumbnail/dd-slots-png.png" class="grayscale-self">
                              <p>Play n Go</p>
                            </a>
                          </li>
                          <li class="animated slideInRight AGIN_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=playngo">
                              <img src="{{ url }}/includes/assets/images/thumbnail/slots-thumb/dd-slots-ag.png" class="grayscale-self">
                              <p>Asia Gaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight BBIN_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=playngo">
                              <img src="{{ url }}/includes/assets/images/thumbnail/slots-thumb/dd-slots-bbin.png" class="grayscale-self">
                              <p>BBIN</p>
                            </a>
                          </li>
                          <li class="animated slideInRight CQ9_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=playngo">
                              <img src="{{ url }}/includes/assets/images/thumbnail/slots-thumb/dd-slots-cq9.png" class="grayscale-self">
                              <p>CQ9</p>
                            </a>
                          </li>
                          <li class="animated slideInRight JUMBO_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=playngo">
                              <img src="{{ url }}/includes/assets/images/thumbnail/slots-thumb/dd-slots-jumbo.png" class="grayscale-self">
                              <p>Jumbo</p>
                            </a>
                          </li>
                          <li class="animated slideInRight SPG_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=playngo">
                              <img src="{{ url }}/includes/assets/images/thumbnail/slots-thumb/dd-slots-sg.png" class="grayscale-self">
                              <p>Spade Gaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight TTG_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=playngo">
                              <img src="{{ url }}/includes/assets/images/thumbnail/slots-thumb/dd-slots-ttg.png" class="grayscale-self">
                              <p>Toptrend Gaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight YP_Slots" style=" ">
                            <a class="center-align" href="{{  url }}/slots.html?prv=playngo">
                              <img src="{{ url }}/includes/assets/images/thumbnail/slots-thumb/dd-slots-yp.png" class="grayscale-self">
                              <p>Yoplay</p>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li id="trigger" class="livecasino-menu" style=" ">
                      <a href="{{ url }}live-casino.html">LIVE CASINO</a>
                      <div class="mega-menu">
                        <ul class="left hide-on-med-and-down">
                          <li class="animated slideInRight LOTUS_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1041">
                              <img src="{{ url }}/includes/assets/images/home/thumbnail/dd-livecasino-ag.png">
                              <p>Lotus Gaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight SAG_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1034/">
                              <img src="{{ url }}/includes/assets/images/home/thumbnail/dd-livecasino-sa.png">
                              <p>SA Gaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight BBIN_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1024/36/real">
                              <img src="{{ url }}/includes/assets/images/home/thumbnail/dd-livecasino-bbin.png">
                              <p>BBIN</p>
                            </a>
                          </li>
                          <li class="animated slideInRight DG_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1009">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g1.png">
                              <p>Dream Gaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight OG_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1006">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g2.png">
                              <p>Oriental Gaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight MG_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1008">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g3.png">
                              <p>Micro Gaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight EBET_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1014">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g4.png">
                              <p>EBET</p>
                            </a>
                          </li>
                          <li class="animated slideInRight PT_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1002/bal">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g5.png">
                              <p>Playtech</p>
                            </a>
                          </li>
                          <li class="animated slideInRight AGIN_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1013/6/real">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g6.png">
                              <p>Asia Gaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight HOGAMING_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1039">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g7.png">
                              <p>HO Gagming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight ALLBET_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1007">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g8.png">
                              <p>Allbet</p>
                            </a>
                          </li>
                          <li class="animated slideInRight GOLDDELUXE_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1026/Baccarat/real">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g9.png">
                              <p>Gold Deluxe</p>
                            </a>
                          </li>
                          <li class="animated slideInRight EVO_Livecasino" style=" ">
                            <a class="center-align" href="/player_center/goto_t1games/1040">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g10.png">
                              <p>Evolution Gaming</p>
                            </a>
                          </li>
                          <li class="animated slideInRight SUNCITY_Livecasino" style=" ">
                            <a class="center-align" href="/iframe_module/goto_t1games/1033/lobby">
                              <img src="{{ url }}/includes/assets/images/thumbnail/livecasino-thumb/g11.png">
                              <p>Sunbet</p>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li id="trigger" class=" sportsbook-menu" style=" ">
                      <a href="#">SPORTS</a>
                      <div class="mega-menu">
                        <ul class="left hide-on-med-and-down">
                      <!-- <li class="animated slideInRight RWB_Sportsbook" style=" ">
                        <a class="center-align" href="/sports.html">
                          <img src="{{ url }}/includes\assets\images\thumbnail\sports-thumb\sports-rwb-logo.png" style="margin-top: 30px;width: 72%;">
                          <p>RWB</p>
                        </a>
                      </li>
                      <li class="animated slideInRight 3SING_Sportsbook" style=" ">
                        <a class="center-align" href="/sports.html">
                          <img src="{{ url }}/includes/assets/images/thumbnail/sports-thumb/3sing.png">
                          <p>3SING</p>
                        </a>
                      </li> -->
                      <li class="animated slideInRight AGIN_Sportsbook" style=" ">
                        <a class="center-align" href="/iframe_module/goto_t1games/1013/null/real/TASSPTA">
                          <img src="{{ url }}/includes/assets/images/thumbnail/sports-thumb/ag.png">
                          <p>Asia Gaming</p>
                        </a>
                      </li>
                      <li class="animated slideInRight BBIN_Sportsbook" style=" ">
                        <a class="center-align" href="/player_center/goto_t1games/1024/1/real">
                          <img src="{{ url }}/includes/assets/images/thumbnail/sports-thumb/bbin.png">
                          <p>BBIN</p>
                        </a>
                      </li>
                      <li class="animated slideInRight SBT_Sportsbook" style=" ">
                        <a class="center-align" href="/iframe_module/goto_t1games/1042">
                          <img src="{{ url }}/includes/assets/images/thumbnail/sports-thumb/bti.png">
                          <p>BTI</p>
                        </a>
                      </li>
                      <!-- <li class="animated slideInRight IPMSPORTSBOOK_Sportsbook" style=" ">
                        <a class="center-align" href="/sports.html">
                          <img src="{{ url }}/includes/assets/images/thumbnail/sports-thumb/ipm.png">
                          <p>INPLAY Matrix</p>
                        </a>
                      </li> -->
                      <li class="animated slideInRight ONEWORKS_Sportsbook" style=" ">
                        <a class="center-align" href="/iframe_module/goto_t1games/1030/1">
                          <img src="{{ url }}/includes/assets/images/thumbnail/sports-thumb/oneworks.png">
                          <p>Onewroks</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li id="trigger" class="fishing-menu" style=" ">
                  <a href="{{ url }}/fishing.html">FISHING</a>
                  <div class="mega-menu">
                    <ul class="left hide-on-med-and-down">
                      <li class="animated slideInRight GLOBGAMING_Fishing" style=" ">
                        <a class="center-align" href="/iframe_module/goto_t1games/1005/61/real/110">
                          <img src="{{ url }}/includes/assets/images/home/thumbnail/dd-fishing-ag.png">
                          <p>GG Fishing</p>
                        </a>
                      </li>
                      <li class="animated slideInRight AGIN_Fishing" style=" ">
                        <a class="center-align" href="/player_center/goto_t1games/1013/6/real">
                          <img src="{{ url }}/includes/assets/images/thumbnail/fishing-thumb/dd-fishing-ag.png">
                          <p>Asia Gaming</p>
                        </a>
                      </li>
                      <li class="animated slideInRight PT_Fishing" style=" ">
                        <a class="center-align" href="/player_center/goto_t1games/1002/cashfi">
                          <img src="{{ url }}/includes/assets/images/thumbnail/fishing-thumb/dd-fishing-pt.png">
                          <p>Playtech</p>
                        </a>
                      </li>
                      <li class="animated slideInRight BBIN_Fishing" style=" ">
                        <a class="center-align" href="/player_center/goto_t1games/1024/fish/real">
                          <img src="{{ url }}/includes/assets/images/thumbnail/fishing-thumb/dd-fishing-bbin.png">
                          <p>BBIN</p>
                        </a>
                      </li>
                                              <li class="animated slideInRight JUMBO_Fishing" style=" ">
                                                <a class="center-align" href="/iframe_module/goto_t1games/1018/7001/real/fishing">
                                                  <img src="{{ url }}/includes/assets/images/thumbnail/fishing-thumb/dd-fishing-jumbo.png">
                                                  <p>Jumbo</p>
                                                </a>
                                              </li>
                                            </ul>
                                          </div>
                                        </li>
                                        <li id="trigger" class="lottery-menu" style=" ">
                                          <a href="#">LOTTERY</a>
                                          <div class="mega-menu">
                                            <ul class="left hide-on-med-and-down">
                                              <li class="animated slideInRight T1L_Lottery" style=" ">
                                                <a class="center-align" href="/player_center/goto_t1lottery/1004/">
                                                  <img src="{{ url }}/includes/assets/images/thumbnail/lottery-thumb/dd-lottery-t1.png">
                                                  <p>T1 Lottery</p>
                                                </a>
                                              </li>
                                              <li class="animated slideInRight BBIN_Lottery" style=" ">
                                                <a class="center-align" href="/player_center/goto_t1games/1024/34/real">
                                                  <img src="{{ url }}/includes/assets/images/thumbnail/lottery-thumb/dd-lottery-bbin.png">
                                                  <p>BBIN Lottery</p>
                                                </a>
                                              </li>
                                              <li class="animated slideInRight VR_Lottery" style=" ">
                                                <a class="center-align" href="/iframe_module/goto_t1games/1019">
                                                  <img src="{{ url }}/includes/assets/images/thumbnail/lottery-thumb/dd-lottery-vr.png">
                                                  <p>VR Lottery</p>
                                                </a>
                                              </li>
                                            </ul>
                                          </div>
                                        </li>
                                        <li id="trigger" class="poker-menu" style=" ">
                                          <a href="{{url}}/poker.html">POKER</a>
                                          <div class="mega-menu">
                                            <ul class="left hide-on-med-and-down">
                                              <li class="animated slideInRight IDN_Poker" style=" ">
                                                <a class="center-align" href="/player_center/goto_t1games/1025">
                                                  <img src="{{ url }}/includes/assets/images/thumbnail/poker-thumb/dd-poker-idn.png">
                                                  <p>IDN Play</p>
                                                </a>
                                              </li>
                                              <li class="animated slideInRight GGPOKER_Poker" style=" ">
                                                <a class="center-align" href="/iframe_module/goto_t1games/1028">
                                                  <img src="{{ url }}/includes/assets/images/thumbnail/poker-thumb/dd-poker-gg.png">
                                                  <p>GG Poker</p>
                                                </a>
                                              </li>
                                            </ul>
                                          </div>
                                        </li>
                                        <li id="trigger" class="chess-menu" style=" ">
                                          <a href="{{url}}/chess.html">CHESS</a>
                                          <div class="mega-menu">
                                            <ul class="left hide-on-med-and-down">
                                              <li class="animated slideInRight KYGAMES_Chess" style=" ">
                                                <a class="center-align" href="/iframe_module/goto_t1games/1032">
                                                  <img src="{{ url }}/includes/assets/images/thumbnail/chess-thumb/ky.png">
                                                  <p>KY Games</p>
                                                </a>
                                              </li>
                                              <li class="animated slideInRight LEYOU_Chess" style=" ">
                                                <a class="center-align" href="/iframe_module/goto_t1games/1037">
                                                  <img src="{{ url }}/includes/assets/images/thumbnail/chess-thumb/leyou.png">
                                                  <p>Leyou</p>
                                                </a>
                                              </li>
                                              <li class="animated slideInRight TIANHAO_Chess" style=" ">
                                                <a class="center-align" href="/iframe_module/goto_t1games/1038">
                                                  <img src="{{ url }}/includes/assets/images/thumbnail/chess-thumb/tianhao.png">
                                                  <p>Tianhao</p>
                                                </a>
                                              </li>
                                            </ul>
                                          </div>
                                        </li>
                                      </ul>
                                    </li>



                                    <li><a href="{{ url }}/promotions.html">Promotion</a></li>
                                    <li><a href="{{ url }}/downloads.html">Downloads</a></li>
                                  </ul>
                                  <ul class="nav navbar-nav navbar-right nav-login-reg">
                                    <li>
                                      <form class="login-wrapper right">
                                        <div id="_player_login_area" class="loginbox">
                                          Loading... <a href="#" style=";">直接登录</a>
                                        </div>
                                      </form>
                                    </li>
                                  </ul>
                                </div><!-- /.navbar-collapse -->
                              </div><!-- /.container-fluid -->
                            </nav>
                          </div>
                        </div>
                      </header>

                      <script type="text/javascript">
                        $(document).ready(function(){
                          var nav_objs = [
                                'AGIN_Livecasino',
                                'BBIN_Livecasino',
                                'DG_Livecasino',
                                'OG_Livecasino',
                                'MG_Livecasino',
                                'EBET_Livecasino',
                                'PT_Livecasino',
                                'LOTUS_Livecasino',
                                'HOGAMING_Livecasino',
                                'PT_Slots',
                                'MG_Slots',
                                'HB_Slots',
                                'JUMBO_Slots',
                                'ISB_Slots',
                                'BBIN_Slots',
                                'PNG_Slots',
                                'CQ9_Slots',
                                'AGIN_Fishing',
                                'GLOBGAMING_Fishing',
                                'PT_Fishing',
                                'BBIN_Fishing',
                                'MEGAWIN_Fishing',
                                'ONEWORKS_Sportsbook',
                                'BBIN_Sportsbook',
                                'AGIN_Sportsbook',
                                'RWB_Sportsbook',
                                'KYGAMES_Chess',
                                'LEYOU_Chess',
                                'TIANHAO_Chess',
                                'ALLBET_Livecasino',
                                'SAG_Livecasino',
                                'GOLDDELUXE_Livecasino',
                                'EVO_Livecasino',
                                'SUNCITY_Livecasino',
                                'PP_Slots',
                                'YP_Slots',
                                'SPG_Slots',
                                'TTG_Slots',
                                'AGIN_Slots',
                                'JUMBO_Fishing',
                                'SAG_Fishing',
                                'T1L_Lottery',
                                'VR_Lottery',
                                'BBIN_Lottery',
                                'IDN_Poker',
                                'GGPOKER_Poker',
                                '3SING_Sportsbook',
                                'IPMSPORTSBOOK_Sportsbook',
                                'SBT_Sportsbook',
                                'FINANCE_Financialbets',
                          ];

                          var totbet_url = "http://ice2019.tot.bet";
                          var loc_host = location.host;
                          var code = loc_host.split(".")[1];

                          console.log("CODE: "+code);
                          $.ajax({
                            url:totbet_url+'/api/rest/get_client_game_apis/'+code,
                            type:'GET',
                            async: false,
                            success: function(data){
                              var result = JSON.parse(data.result);

                              //these hides all games and menu initially
                              $.each(nav_objs, function(k, v) {
                                  initgame = v;
                                  $("."+initgame).hide();
                                  game_cat_menu = initgame.substr(initgame.indexOf("_") + 1).toLowerCase()+"-menu";
                                  $("."+game_cat_menu).hide();
                                  console.log("initgame:"+initgame);
                              });

                              // these will filter and show only the selected games and menu from client
                              $.each(result, function(key, value) {
                                game = value.substr(value.indexOf("-") + 1);
                                $.each(nav_objs, function(k, v) {
                                  if(game === v){
                                    game_cat_menu = v.substr(v.indexOf("_") + 1).toLowerCase()+"-menu";
                                    $("."+game_cat_menu).show();
                                    $("."+game).show();
                                    console.log("Game:"+game);
                                  }
                                });
                              });
                            }
                           });

                            var nav_count = $('li#trigger').filter(function() {
                                return $(this).css('display') !== 'none';
                            }).length;

                            if (nav_count > 5 ) {
                                $('a#more-nav').css('display', 'block')
                                $('ul#nav-mobile > li:nth-child(2)').addClass('li-custom');
                                $('ul#game_providers').addClass('g-custom');
                            }
                       });
                      </script>

                    </div>